<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Proyecto final arquitectura</title>
</head>

<body>
  <div class="container__body">
    <header>
      <button class="header__button" mat-raised-button color="primary" (click)="cargarYEjecutarPrograma()" [disabled]="!habilitarBtnEjecutar"><mat-icon>play_arrow</mat-icon>Ejecutar</button>
      <button class="header__button" mat-raised-button color="primary" (click)="pausarPrograma()" [disabled]="!habilitarBtnPausar"><mat-icon>pause</mat-icon>Pausar</button>
      <button class="header__button" mat-raised-button color="primary" (click)="reanudarPrograma()" [disabled]="!habilitarBtnReanudar"><mat-icon>play</mat-icon>Continuar</button>
    </header>

    <div class="container__body__principal">
      <mat-form-field class="container__body__principal__input">
        <mat-label>Escribe tu código aquí</mat-label>
        <textarea matInput [(ngModel)]="instrucciones"></textarea>
      </mat-form-field>

      <div class="container__body__principal__center">

        <div class="container__body__principal__center__down">
          <div class="container__body__principal__center__first-container">
            <div class="PC">
              PC
              <br>
              {{PC}}
            </div>
            <div class="MAR">
              MAR
              <br>
              {{MAR}}
            </div>
          </div>
          <div class="container__body__principal__center__UC">Unidad de control</div>
          <div class="container__body__principal__center__ALU">
            <div>
              <div>
                <span>{{ALU.operando1}}</span> ***** <span>{{ALU.operando2}}</span>
              </div>
              ALU
              <br>
              {{ALU.operacionAEjecutar}}
            </div>
          </div>
          <div class="container__body__principal__center__MBR">
            MBR
            <br>
            {{MBR}}
          </div>
          <div class="container__body__principal__center__IR">
            IR
            <br>
            {{IR}}
          </div>
          <div class="container__body__principal__center__AG">
            <div>
              Almacén general
              <br>
              <div>
                Ax: {{almacenGeneral.Ax}} - Bx: {{almacenGeneral.Bx}} <br>
                Cx: {{almacenGeneral.Cx}} - Dx: {{almacenGeneral.Dx}} <br>
                Ex: {{almacenGeneral.Ex}} - Fx: {{almacenGeneral.Fx}} <br>
                Gx: {{almacenGeneral.Gx}} - Hx: {{almacenGeneral.Hx}}
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="container__body__principal__buses">
        <div class="buses__container">
          <div class="directions"></div>
          <div class="bus_name">Bus de direcciones</div>
        </div>
        <div>
          <div class="data"></div>
          <div class="bus_name">Bus de datos</div>
        </div>
        <div>
          <div class="control"></div>
          <div class="bus_name">Bus de control</div>
        </div>
      </div>

      <mat-card class="container__body__principal__card">
        <mat-card-title>Memoria principal</mat-card-title>
        <mat-card-content>
          <div *ngFor="let instruccion of memoria.celdas; index as index">
            {{index+1}} - {{instruccion.toString()}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</body>

</html>
